@import url("simplelightbox/dist/simple-lightbox.min.css");

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: 24px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.1);
  color: #FFFFFF;
}

.sl-caption {
  text-align: center;
}

