.feedback-form {
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #2E2F42;

  gap: 16px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.feedback-form-email.input {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  transition: border-color 0.3s ease;
}

.feedback-form-message.textarea {
  width: 360px;
  height: 80px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px;
  transition: border-color 0.3s ease;
}

.feedback-form-email.input:hover,
.feedback-form-message.textarea:hover,
.feedback-form-email.input:focus,
.feedback-form-message.textarea:focus {
  border-color: #000000;
}


.feedback-form-button {
  font-weight: 500;
  color: #FFFFFF;

  width: 95px;
  height: 40px;
  border-radius: 8px;
  border: none;

  background-color: #4E75FF;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.feedback-form-button-title {
  width: 63px;
  height: 24px;

  padding: 8px 16px;
}

.feedback-form-button:hover {
  background-color: #6C8CFF;
}

